<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Real Edit</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/css/startup.css?v=20130828090142%2B0800">
	</head>
	<body>
		<div class="container" id="indexMain">
			<input id="fileName" autofocus type="text" class="input-lg form-control" placeholder="Open your file or create new by press Enter">
		</div>

		<script src="/scripts/startup.js?v=20130828090142%2B0800"></script>
	</body>
</html>
