#editPage .edit-header {
	color:white;
	text-shadow: 0 -1px 0 rgba(0,0,0,.15);
	background-color: #3CA0D0;
	border-color: #463265;
	box-shadow: 0 1px 0 rgba(255,255,255,.1);
	line-height: 50px;
}

.edit-header .navbar-brand {
	color: white;
}

#editPage .sidebar {
	padding-right:20px;
}

#editPage #editCon {
	margin-top: 65px;
}

#editor { 
    position: relative;
    border: solid 1px #aaa;
    border-radius: 5px;
}

.user-list {
	min-height: 120px;
}

.messages .panel-body {
	height: 300px;
	overflow: auto;
}

.chat-con {
	margin-bottom: 0;
}

.panel-default {
	border-color: #aaa;
}

.user-info, .pro-lang, .key-binding {
	margin-left: 15px;
}

.user-info a {
	color: white;
	font-weight: bold;
}

ul#msgList, ul#usersList{
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 12px;
}

ul#msgList li, ul#usersList li{
	margin: 5px 0;
}